# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE files
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath

# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear
*.zip

# Others
.DS_Store

